.container
  h1 MC stats - vruum vruum
  ul.nav.nav-tabs
   li(ui-sref-active-eq="active")
     a(ui-sref="statistic.front") Home
   li(ui-sref-active-eq="active")
     a(ui-sref="statistic.users.list") Brugere
   li(ui-sref-active-eq="active")
     a(ui-sref="statistic.pull") Hent data
   li(ui-sref-active-eq="active")
     a(ui-sref="statistic.statistics.show") Vis statistik
  .container
    <div ui-view="main"></div>
