.container
  h1 MC stats - vruum vruum
  ul.nav.nav-tabs
    li(ui-sref-active-eq="active")
      a(ui-sref="statistic.front") Hjem
    li(ui-sref-active-eq="active")
      a(ui-sref="statistic.statistics.show") Vis statistik
    li(ui-sref-active-eq="active")
      a(ui-sref="statistic.users.list") Brugere
  .container
    <div ui-view="main"></div>
