.pull-data {
    .form-group {
        margin-top: 30px;

        .form-control {
            margin-bottom: 15px;
            width: 500px; 
        }
    }
    .btn {
        margin-top: 20px; 
        width: 175px;
    }
    .validate-button {
        margin-right: 500-175*2px;
    }
}
