div
  .alert.alert-danger(ng-if="UsersCtrl.error")
    strong(ng-bind="UsersCtrl.error")
  table.table.table-striped
    tr
      th
      th Navn
      th Brugernavn
      th Brugertype 
    tr(ng-repeat="user in UsersCtrl.users")
      td
        a(ng-click="UsersCtrl.deleteUser(user)")
          span.glyphicon.glyphicon-remove-circle
      td(ng-bind="user.name")
      td(ng-bind="user.username")
      td(ng-bind="user.role")
