div
  table.table.table-striped
    tr
      th Navn
      th Brugernavn
      th Brugertype 
    tr(ng-repeat="user in UsersCtrl.users")
      td(ng-bind="user.name")
      td(ng-bind="user.username")
      td(ng-bind="user.role")
