h4(ng-bind="StatisticsCtrl.fetchedData._index")
h4(ng-bind="StatisticsCtrl.fetchedData._type")
h4(ng-bind="StatisticsCtrl.fetchedData._id")
div(ng-repeat="data in StatisticsCtrl.fetchedData._source.type")
  table
    tbody(ng-repeat="(key, value) in data")
      th(ng-bind="key")
      td(ng-bind="value")
