div(ng-repeat="data in StatisticsCtrl.fetchedData")
  h4(ng-bind="data._index")
  h4(ng-bind="data._type")
  h4(ng-bind="data._id")
  div(ng-repeat="(key, value) in data._source)")
    p
      b Key of data
    p(ng-bind="key")
    p
      b Value of data
    p(ng-bind="value")
