h4(ng-bind="StatisticsCtrl.fetchedData._index")
h4(ng-bind="StatisticsCtrl.fetchedData._type")
table.table.table-striped
  thead
    tr(ng-repeat="key in StatisticsCtrl.filteredList")
      th(ng-bind="key")
  tbody
    tr(ng-repeat="value in StatisticsCtrl.filteredValue")
      td(ng-bind="value")

