p Statistikker
  .dropdown
    button.btn.btn-default.dropdown-toggle(type="button", id="statisticIndexes" data-toggle="dropdown" aria-haspopup="true") {{ StatisticsCtrl.activeStatisticIndex }}
      span.caret
    ul.dropdown-menu(aria-labelledby="statisticIndexes")
      li(ng-repeat="(key, value) in StatisticsCtrl.statisticIndexes")
        a(ui-sref="statistic.statistics.show.graph({statsId : value})" ng-click="StatisticsCtrl.showStatistics(key, value)")
          {{ key }}
div
  <div ui-view></div>
